body {
  font-family: "Calibri", Arial, sans-serif;
  margin: 10px 20px 10px 20px;
  background-color: #fdfdfd;
  color: #222;
}

.resume-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.header-text h1 {
  color: #2a4d91;
  margin-bottom: 5px;
}

.header-text a {
  color: #2a4d91;
  text-decoration: none;
}

.header-text a:hover {
  text-decoration: underline;
}

.header-image img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
 border: 3px solid #6f6d6d;   
}
.Summary-head {
  color: #2a4d91;
  margin-bottom: 5px;
  padding: 4px 4px ;
  font-size: 1rem;
 border-bottom: 2px solid #ccc;
}

.Summary-head  .Summary-para .skills .Projects .workshop-details .interest .table-marks .certi{
   text-align: justify;
    color: #222;
    margin-bottom: 15px;
    padding-bottom: 12px ;
}
 
.Projects a {
  color: #2a4d91;
  text-decoration: none;
}

.Projects a:hover {
  text-decoration: underline;
}




.resume-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  text-align: center;
  margin-bottom: 15px;
}

.resume-table th, .resume-table td {
  border: 1px solid #999;      
  padding: 8px 12px;
}

.resume-table th {
  background-color: #f2f2f2;    
  color: #333;
  font-weight: bold;
}
.table-marks{
    border-bottom: 2px solid #ccc;
     margin-top: 8px;
  margin-bottom: 25px;
}
ul {
  margin: 8px 0 8px 20px;
}
li {
  margin-bottom: 6px;
}
