body {
  font-family: "Calibri", Arial, sans-serif;
  margin: 10px 20px 10px 20px;
  background-color: #fdfdfd;
  color: #222;
}

.resume-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

.header-text h1 {
  color: #2a4d91;
  margin-bottom: 5px;
}

.header-text a {
  color: #2a4d91;
  text-decoration: none;
}

.header-text a:hover {
  text-decoration: underline;
}

.header-image img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
 border: 3px solid #6f6d6d;   
}
.Summary-head {
  color: #2a4d91;
  margin-bottom: 5px;
  padding: 4px 4px ;
  font-size: 1rem;
}
.Summary-head .Summary{
   text-align: justify;
    color: #222;
    border-bottom: 2px solid #ccc;
    margin-bottom: 15px;
}
.resume-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  text-align: center;
  margin-bottom: 15px;
}

.resume-table th, .resume-table td {
  border: 1px solid #999;      
  padding: 8px 12px;
}

.resume-table th {
  background-color: #f2f2f2;    
  color: #333;
  font-weight: bold;
}
.table-marks{
    border-bottom: 2px solid #ccc;
}
.Summary-head .skills{
    color: #222;
    border-bottom: 2px solid #ccc;
    margin: 0px 4px 0px 0px ;
}
.Summary-head .workshop-details ul{
    color: #222;
    border-bottom: 2px solid #ccc;
    margin: 0px 4px 0px 0px ;
}
.Summary-head .Projects{
       color: #222;
    border-bottom: 2px solid #ccc;
}
.Summary-head .interest{
       color: #222;
    border-bottom: 2px solid #ccc;
}